{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rokkitt&display=swap" rel="stylesheet">
</head>
<body>
<div id="d1">
  <img src="{% static "images/1.png" %}" id="img1" />
  <p id="p1">BLOOD DONOR LIST</p>
  <p id="p2">-DONATE BLOOD...!!!SAVE LIFE...!!!</p>
</div>
<div class="topnav">
<a href="/">HOME</a>
<a href="/register/">REGISTER</a>
<a href="/view/">VIEW DONOR</a>
<a href="/about/">ABOUT</a>
<a href="/contact/">CONTACT</a>
</div>

<body id="body1">
 <h2><b>GREAT..!</b></h2>

 <h3><b><i> {{donorlist.name}} YOUR RECORD HAS BEEN ADDED SUCCESS FULLY....</i></b></h3>


</body>
<a href="/">BACK TO DASHBOARD</a>

</html>