{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
</head>
<body>
<div id="d1">
  <img src="{% static "images/1.png" %}" id="img1" />
  <p id="p1">BLOOD DONOR LIST</p>
  <p id="p2">-DONATE BLOOD...!!!SAVE LIFE...!!!</p>
</div>
<div class="topnav">
<a href="/">HOME</a>
<a href="/register/">REGISTER</a>
<a href="/view/">VIEW DONOR</a>
<a href="/about/">ABOUT</a>
<a href="/contact/">CONTACT</a>
</div>
<a href="/a/">A+</a>
<a href="/b/">B+</a>


</body>
</html>